/* Стилі для навігаційного меню */
.header {
    background-color: #ffffff;
    padding: 10px;
    border-bottom: 1px solid black;
  }
  
  .headerConteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .AppBarLink {
    position: relative;
    color: #000000; /* Колір тексту */
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    /* margin-right: 20px; */
    padding: 5px 10px;
    transition: color 0.5s ease;
  }
  .AppBarLink::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px; /* Відступ від тексту до підкреслення */
    width: 100%;
    height: 2px; /* Товщина підкреслення */
    background-color: #800080; /* Фіолетовий колір підкреслення */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .AppBarLink:hover::after,
  .AppBarLink.active::after {
    opacity: 1; /* При наведенні або активній сторінці - підкреслення видиме */
  }