/* .SignUpConteiner {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Jost', sans-serif;
  background: linear-gradient(to bottom, #6f00af, #302b63, #270192);
} */

/* ============================SignUpForm ============================================= */

/* .SignUpForm {
  width: 455px; 
  height: 650px; 
  background: red;
  overflow: hidden;
  background: url('https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38')
    no-repeat center/cover;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
} */

/* .chk {
  display: none;
} */
/* .SignUp {
  position: relative;
  width: 100%;
  height: 100%;
} */
.SignUpLabel {
  color: #fff;
  font-size: 2.5em;
  justify-content: center;
  display: flex;
  margin: 78px;
  padding-top: 20px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.SignUpLabel:hover {
  font-size: 2em;
}
.SignUpInput {
  width: 78%;
  height: 20px;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}
.SignUpBtn {
  width: 78%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #573b8a;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
.SignUpBtn:hover {
  background: #6d44b8;
}

/* .chk:checked ~ .LoginForm {
  transform: translateY(-600px);
}
.chk:checked ~ .LoginForm .SignUpLabel {
  transform: scale(1);
}
.chk:checked ~ .SignUp .SignUpLabel {
  transform: scale(0.6);
} */

/* ============================SignUpForm ============================================= */
/* ============================LoginForm ============================================= */
/* .LoginForm {
  height: 598px;
  background: #eee;
  border-radius: 78% / 10%;
  transform: translateY(-180px);
  transition: 0.8s ease-in-out;
}
.LoginForm .SignUpLabel {
  color: #573b8a;
  transform: scale(0.6);
}

.LoginLabel {
  color: #fff;
  font-size: 3em;
  justify-content: center;
  display: flex;
  margin: 20px;
  padding-top: 20px;
  padding-bottom: 25px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.LoginLabel:hover {
  font-size: 2.5em;
}
.LoginInput {
  width: 78%;
  height: 20px;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}
.LoginBtn {
  width: 78%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #573b8a;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
.LoginBtn:hover {
  background: #6d44b8;
}

.LoginForm .LoginLabel {
  color: #573b8a;
  transform: scale(0.6);
}

.chk:checked ~ .LoginForm .LoginLabel {
  transform: scale(1);
}
.chk:checked ~ .Login .LoginLabel {
  transform: scale(0.6);
} */

/* ============================LoginForm ============================================= */
/* ============================backBtn============================= */

/* .backBtn {
  position: fixed;
  top: 5%;
  left: 5%;
  padding: 15px;
  border-radius: 15px;
    transition: 0.5s ease-in-out;
}

.backBtn:hover {
  cursor: pointer;
  background-color: #cfcece;
  box-shadow: 5px 5px #000;
} */
/* ============================backBtn============================= */
