@import url(//fonts.googleapis.com/css?family=Lato:300,400);

body {
  margin: 0;
}

.homeTitle {
  padding-top: 30vh;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 48px;
  padding-bottom: 2em;
  margin: 0;
}

.LinkSingUp {
  text-decoration: none;
  color: white;
}
p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  color: #333333;
}

.header {
  position: relative;
  text-align: center;
  background: linear-gradient(
    0deg,
    rgba(54, 2, 64, 1) 0%,
    rgba(73, 2, 87, 1) 40%,
    rgba(190, 0, 227, 1) 100%
  );
  color: white;
}

.logo {
  width: 50px;
  fill: white;
  padding-right: 15px;
  display: inline-block;
  vertical-align: middle;
}

.innerHeader {
  height: 70vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /* Fix for safari gap */
  min-height: 100px;
  max-height: 150px;
}

.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: white;
}

/* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/* Shrinking for mobile */
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }

  .content {
    height: 30vh;
  }

  h1 {
    font-size: 24px;
  }
}

/* ================================================================= */

.containerNavLink {
  position: absolute;
  left: 50%;

  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 280px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91c9ff;
  outline: none;
  transition: 1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none; /* Remove default underline for links */
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 240 720;
  stroke-dashoffset: 240;
  transition: 1s ease-in-out;
}

.btn:hover {
  background: #4f95da;
}

.btn:hover svg {
  stroke-dashoffset: -780;
}

.btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
  text-transform: uppercase;
}

.linkForMe {
  display: flex;
  justify-content: center;
}

.linkForMe2 {
  margin-left: 5px;
}
