.contactList {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: auto;
  padding: 0;
  margin-bottom: 0;
}

.contactItem {
  display: flex;
  text-align: center;
  justify-content: space-between;
  list-style-type: none;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 15px;
}

.contactDetails {
  margin: 0;
}

.deleteButton {
  padding: 5px 10px;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: #d62115;
}

.isLoading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(72, 74, 73, 0.326);
  border-radius: 15px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
